.testBtns {
	height: auto;
	transition: 0.5s;
}

.active {
	transform: scale(1.025);
	box-shadow: 1px 0 4px black;
	font-size: x-large;
}

.deleteBtn:hover {
	text-decoration: none;
	color: white;
}

.editBtn:hover {
	text-decoration: none;
	color: white;
}

.assBtn {
	font-size: x-large;
	background: none;
	border: none;
}

.assBtn:focus {
	outline: none;
}

.assBtn span {
	position: relative;
	bottom: 4px;
}
